<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>platos de menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
   <nav>
     <div class="nav-wrapper color">
      <a href="#" class="brand-logo "><img src="../assets/img/logo.png" class="img-logo">Map</a>
      </div>
    </nav>
  <div id="cont"></div>

  <div class="container">
      <a href="restaurants.html" type="button" class="btn">
        <i class="large material-icons">arrow_back</i>
      </a>
  </div>

<div id="container-dishes">
  <h2 id ="title-restaurant"></h2> 
</div>
<!-- div contenedor fin-->

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Base de datos -->
  <script src='../js/data.js'></script>
  <!--  archivos JS -->
  <script src="../js/appdishes.js"></script>
   
</body>

</html>